@import "../constants.scss";

.settings,
.notifications {
    .dbg_lv-pro-features {
        background: $main-theme-color;
        border: 0;
        border-radius: 5px;
        color: #fff;
        text-decoration: none;
        margin: 0 auto;
        display: block;
        text-align: center;
        max-width: 130px;

        img {
            width: 32px;
        }
    }

    .bootstrap-switch {
        transform: scale(0.8);
    }

    font-family: Helvetica;

    .log-info-block {
        font-size: 14px;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: $box-shadow;
    margin-bottom: 30px;

    h5 {
        color: $dark-blue;
    }

    select {
        max-width: inherit;
    }

    input[type="email"],
    input[type="url"],
    select {
        margin-top: 5px;
        margin-bottom: 24px;
        width: 100%;

        padding: 5px 10px;
        border: 1px solid #cecece;

        &[disabled] {
            background-color: #f6f7f7;
        }
    }

    .form-check {
        margin-top: 5px;
        margin-bottom: 24px;
    }

    input[type="submit"] {
        padding: 10px 20px;
        border-radius: 5px;

        &.enable {
            background-color: $main-theme-color;
        }

        &.disable {
            background-color: $danger-color;
        }
    }
}
