@import "../constants.scss";

.base-table-viewer-structure {
	margin-top: 1rem;

	#dbg_lv_log-table {
		border: 1px;
		border-radius: 5px;
		border: none;
		top: 10px;
		position: relative;

.dt-button.dropdown-item.buttons-columnVisibility:before {
		content: '\2713';
		/* Unicode checkmark */
		font-size: 14px;
		margin-right: 8px;
		visibility: hidden;
		/* Hidden by default */
	}

	.dt-button.dropdown-item.buttons-columnVisibility.dt-button-active:before {
		visibility: visible;
		/* Show when active */
	}

		thead {
			background-color: #0027ff26;
			border-radius: 5px 5px 0 0;

			tr {
				vertical-align: top;

				th:nth-child(1) {
					text-align: left;
					padding-left: 10px;
					border-radius: 5px 0 0 0;
				}

				th {
					padding-top: 15px;
					padding-bottom: 15px;
					border-bottom: 0;
				}
				th:last-child {
					border-radius: 0 5px 0 0;
				}
			}
		}

		tbody {
			tr {
				&.odd {
					background-color: $main-background-table-color;
				}

				&.odd:hover {
					background-color: #f8f9fa;
				}

				&.even:hover {
					background-color: #f8f9fa;
				}

				td:nth-child(1) {
					text-align: left;
					padding-left: 20px;
				}

				td {
					padding-top: 10px;
					padding-bottom: 10px;
					padding-left: 5px !important;

					.call-stack {
						color: $main-theme-color;
						text-decoration: none;
						font-weight: bold;
					}
				}
			}

			tr:hover {
				--bs-table-accent-bg: #f8f9fa;
			}
		}
	}

	.table-wrapper {
		.dt-buttons {
			margin-left: 15px;

			.dt-action-button {
				border-radius: .25rem;
				font-weight: 400;
				font-size: 14px;
				line-height: 1.35em;
				margin: 10px 0 10px 0;
				color: #4bb5ff;
				border-radius: .1875rem;
				cursor: pointer;
				background: transparent;
				border: 1px solid;
				padding: 6px 22px;
				height: 30px;

				&:hover {
					filter: contrast(0.5);
					border: 1px solid #4bb5ff;
					background: transparent;
				}
			}
		}

		.datetime-ragne-buttons {
			margin-left: 30px;
			 .btn.active {
				background-color: $main-theme-color;
			 }
			 .btn:hover {
				background-color: lighten($main-theme-color, 5%)
			 }
		}
	}

	.dataTables_paginate {
		margin: 0;
		margin-top: 30px;
		padding: 0px;
		border: 1px;
		border-radius: 5px;
		border-style: solid;
		border-color: #dddddd;
		overflow: hidden;
	}

	.log-filesize-limitation {
		text-align: center;
		color: #fa9732;
	}
}
