@charset "UTF-8";
.base-table-viewer-structure {
  margin-top: 1rem;
}
.base-table-viewer-structure #dbg_lv_log-table {
  border-radius: 5px;
  border: none;
  top: 10px;
  position: relative;
}
.base-table-viewer-structure #dbg_lv_log-table .dt-button.dropdown-item.buttons-columnVisibility:before {
  content: "✓";
  /* Unicode checkmark */
  font-size: 14px;
  margin-right: 8px;
  visibility: hidden;
  /* Hidden by default */
}
.base-table-viewer-structure #dbg_lv_log-table .dt-button.dropdown-item.buttons-columnVisibility.dt-button-active:before {
  visibility: visible;
  /* Show when active */
}
.base-table-viewer-structure #dbg_lv_log-table thead {
  background-color: rgb(13, 110, 253);
  color: #fff;
  border-radius: 5px 5px 0 0;
}
.base-table-viewer-structure #dbg_lv_log-table thead tr {
  vertical-align: top;
}
.base-table-viewer-structure #dbg_lv_log-table thead tr th:nth-child(1) {
  text-align: left;
  padding-left: 10px;
  border-radius: 5px 0 0 0;
}
.base-table-viewer-structure #dbg_lv_log-table thead tr th {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 0;
}
.base-table-viewer-structure #dbg_lv_log-table thead tr th:last-child {
  border-radius: 0 5px 0 0;
}
.base-table-viewer-structure #dbg_lv_log-table tbody tr.odd {
  background-color: #ffffff;
}
.base-table-viewer-structure #dbg_lv_log-table tbody tr.odd:hover {
  background-color: #f8f9fa;
}
.base-table-viewer-structure #dbg_lv_log-table tbody tr.even:hover {
  background-color: #f8f9fa;
}
.base-table-viewer-structure #dbg_lv_log-table tbody tr td:nth-child(1) {
  text-align: left;
  padding-left: 20px;
}
.base-table-viewer-structure #dbg_lv_log-table tbody tr td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px !important;
}
.base-table-viewer-structure #dbg_lv_log-table tbody tr td .call-stack {
  color: #0d6efd;
  text-decoration: none;
  font-weight: bold;
}
.base-table-viewer-structure #dbg_lv_log-table tbody tr:hover {
  --bs-table-accent-bg: #f8f9fa;
}
.base-table-viewer-structure .table-wrapper .dt-buttons {
  margin-left: 15px;
}
.base-table-viewer-structure .table-wrapper .dt-buttons .dt-action-button {
  border-radius: 0.25rem;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.35em;
  margin: 10px 0 10px 0;
  color: #4bb5ff;
  border-radius: 0.1875rem;
  cursor: pointer;
  background: transparent;
  border: 1px solid;
  padding: 6px 22px;
  height: 30px;
}
.base-table-viewer-structure .table-wrapper .dt-buttons .dt-action-button:hover {
  filter: contrast(0.5);
  border: 1px solid #4bb5ff;
  background: transparent;
}
.base-table-viewer-structure .table-wrapper .datetime-range-buttons {
  margin-left: 30px;
}
.base-table-viewer-structure .table-wrapper .datetime-range-buttons .btn.active {
  background-color: #0d6efd;
}
.base-table-viewer-structure .table-wrapper .datetime-range-buttons .btn:hover {
  background-color: #267dfd;
}
.base-table-viewer-structure .dataTables_paginate {
  margin: 0;
  margin-top: 30px;
  padding: 0px;
  border: 1px;
  border-radius: 5px;
  border-style: solid;
  border-color: #dddddd;
  overflow: hidden;
}
.base-table-viewer-structure .log-filesize-limitation {
  text-align: center;
  color: #fa9732;
}

/*# sourceMappingURL=base-table-view.css.map */
