@import "./constants.scss";
@import "./base/fonts.scss";

@import "./pages/log-viewer.scss";

@import "./components/scroll-to-top.scss";
@import "./components/review.scss";
@import "./components/sidebar.scss";
@import "./components/table-pagination.scss";

#wpbody-content {
    background-color: $body-color;
    font-size: 14px; 
    input[type="checkbox"].form-check-input {
        background-repeat: no-repeat;
        margin: 0px 10px 0 0;
        transform: scale(1.3);
        &:before {
            content: "";
        }
    }
}

#wpcontent,
#wpfooter {
    margin-left: 135px;
    padding-left: 25px;
}

.dbg_lv-dashboard,
.dbg_lv-log-viewer,
.dbg_lv-404-redirects,
.dbg_lv-advisor {
    .dataTables_wrapper {
        padding-top: 10px;
        .dataTables_length {
            margin-top: 3px;

            select {
                padding: 0 24px 0 8px;
            }
        }

        .dataTables_filter {
            margin: 5px 0 10px 0;

            input {
                height: 30px;
            }
        }

        .dataTables_info {
            margin-top: 28px;
        }
    }
}
