.sidebar {
  position: absolute;
  top: 15px;
  right: -100%;
  width: 20%;
  max-width: 285px;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  border-radius: 5px;
}
.sidebar.visible {
  right: 25px;
}
.sidebar .close-icon {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 16px;
  cursor: pointer;
}
.sidebar .hidden {
  display: none;
}
.sidebar .settings,
.sidebar .notifications {
  font-family: Helvetica;
  background-color: #fff;
  padding: 15px 10px;
  border-radius: 5px;
}
.sidebar .settings .bootstrap-switch,
.sidebar .notifications .bootstrap-switch {
  transform: scale(0.8);
}
.sidebar .settings .log-info-block,
.sidebar .notifications .log-info-block {
  font-size: 14px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar .settings h5,
.sidebar .notifications h5 {
  color: #040047;
  margin-bottom: 0;
}
.sidebar .settings h5 .rotate-icon,
.sidebar .notifications h5 .rotate-icon {
  transition: transform 0.3s ease-in-out;
}
.sidebar .settings h5 .rotate-icon.expanded,
.sidebar .notifications h5 .rotate-icon.expanded {
  transform: rotate(90deg);
}
.sidebar .settings h5 a,
.sidebar .notifications h5 a {
  color: #040047;
}
.sidebar .settings h5 a:active,
.sidebar .settings h5 a:focus,
.sidebar .notifications h5 a:active,
.sidebar .notifications h5 a:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
.sidebar .settings select,
.sidebar .notifications select {
  max-width: inherit;
}
.sidebar .settings input[type=email],
.sidebar .settings input[type=url],
.sidebar .settings select,
.sidebar .notifications input[type=email],
.sidebar .notifications input[type=url],
.sidebar .notifications select {
  margin-top: 5px;
  margin-bottom: 24px;
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #cecece;
}
.sidebar .settings input[type=email][disabled],
.sidebar .settings input[type=url][disabled],
.sidebar .settings select[disabled],
.sidebar .notifications input[type=email][disabled],
.sidebar .notifications input[type=url][disabled],
.sidebar .notifications select[disabled] {
  background-color: #f6f7f7;
}
.sidebar .settings .form-check,
.sidebar .notifications .form-check {
  margin-top: 5px;
  margin-bottom: 24px;
}
.sidebar .settings input[type=submit],
.sidebar .notifications input[type=submit] {
  padding: 10px 20px;
  border-radius: 5px;
}
.sidebar .settings input[type=submit].enable,
.sidebar .notifications input[type=submit].enable {
  background-color: #4f6df5;
}
.sidebar .settings input[type=submit].disable,
.sidebar .notifications input[type=submit].disable {
  background-color: #f84042;
}
.sidebar .sidebar-toggle-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1100;
  cursor: pointer;
  background-color: #4f6df5;
  border: none;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px #929ea9;
}
.sidebar .sidebar-toggle-btn:hover {
  background-color: #1f45f2;
}

/*# sourceMappingURL=sidebar.css.map */
